.header {
    padding: 0 30px;
    width: calc(100% - 60px);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    position: fixed;
    z-index: 9999;

    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 10px 10px 43px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 43px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 43px -10px rgba(0,0,0,0.75);
}

.header__title {
    margin: 0;
}

.header__list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: max(15px, 2vw);
    font-size: 15px;
}

.header__item {
    border-radius: 5px;
    width: 100px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s color;
}

.header__item::after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: var(--color-primary);
    border-radius: 3.5px;
    left: 0;
    bottom: 3px;
    transition: width 0.5s;
}

.header__item.active {
    color: var(--color-primary);
}

.header__item.active::after {
    width: 100%;
}

.header__item-link {
    margin: 0;
    display: block;
    padding: 15px 10px;
    text-decoration: none;
}

.header__item-icon {
    display: none;
}

@media (max-width: 820px) {
    .header {
        padding: 0;
        width: 100%;
        font-size: 8px;
        position: fixed;
        bottom: 0;
        background-color: white;
        color: black;
    }

    .header__item-text, .header__left {
        display: none;
    }

    .header__item-link {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    

    .header__item-icon {
        display: block;
        margin: 0 auto;
        max-height: 50px;
    }

    .header__nav {
        width: 100%;
    }

    .header__list {
        gap: 0;
        margin: 0;
    }
    .header__item {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 15px 0;
    }

}